@font-face {
  font-family: "farrah";
  src: url(../font/JessyHeart.ttf);
}

#inscription{
  display: none;
}

h1{
 font-family: "farrah";
 font-size: 10vw;
 margin: 0%
}

h2{
  font-size:2vw;
  margin: 30px;
}

.finition{
  margin-top: 10px;
  margin-bottom: 20px;
}

#imgAccueil{
  height:80vh;
}

#discussion{
  display: none;
}

#chat{
  width: 100%;
}

#chat, #femme{
  border-radius: 10px;
  background-color: white;
  height: 350px;
  overflow-y:scroll;
}

.tchat{
  background-color: #719DB0;
}

#message{
  width: 50vw;
  height: 5vh;
  margin-right: 10px;
}

.robot, .conversationU{
  display: flex;
  width:70%;
}

.conversationU{
  justify-content:flex-end;
  margin-left: 25%;
}

.conversationU p{
  text-align: right;
  margin-right: 5px;
  background-color: #6B6B6B;
  padding:5px;
  border-radius: 10px;
}

.robot p{
  margin-right: 5px;
  background-color:#EF88B5;
  padding:5px;
  border-radius: 10px;
}



#femme div p{
  background-color:#EF88B5;
  border-radius: 10px;
  width:25%;
  margin-left: 20px;
}

#femme{
  padding:5px;
}

#femme img{
  margin-left: 20px;
}

.robot{
  justify-content:flex-start;
  margin-right: 25%;
}

img{
  width: auto;
  height:50px;
  border-radius: 10px;
}

/*************************************************telephone*********************************************/

@media screen and (max-width:900px){
  #box{
    margin: auto;
  }

  #femme{
    overflow-x: scroll;
    display: flex;
    flex-flow: nowrap;
    justify-content: space-between;
    height: auto;
    margin-top: 10px;
  }

  #femme p{
    display: none;
  }

  img{
    height:40px;
    margin: 20px;
  }

}

  width: 50vw;
  height: 5vh;
  margin-right: 10px;
}

.robot, .conversationU{
  display: flex;
  width:70%;
}

.conversationU{
  justify-content:flex-end;
  margin-left: 25%;
}

.conversationU p{
  text-align: right;
  margin-right: 5px;
  background-color: #6B6B6B;
  padding:5px;
  border-radius: 10px;
}

.robot p{
  margin-right: 5px;
  background-color:#EF88B5;
  padding:5px;
  border-radius: 10px;
}



#femme div p{
  background-color:#EF88B5;
  border-radius: 10px;
  width:25%;
  margin-left: 20px;
}

#femme{
  padding:5px;
}

#femme img{
  margin-left: 20px;
}

.robot{
  justify-content:flex-start;
  margin-right: 25%;
}

img{
  width: auto;
  height:50px;
  border-radius: 10px;
}

/*************************************************telephone*********************************************/

@media screen and (max-width:900px){
  #box{
    margin: auto;
  }

  #femme{
    overflow-x: scroll;
    display: flex;
    flex-flow: nowrap;
    justify-content: space-between;
    height: auto;
    margin-top: 10px;
  }

  #femme p{
    display: none;
  }
}
